/* * {
    background-image: url('./img/background.jpg');
    
} */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #94B49F;  
    width: 70%; 
    border-radius: 1rem;
    padding:20px;
}
.submit {
  border-radius: 12px;
    margin: 30px;
    background-color: #DF7861;
    color: white;
    padding:5px 70px;
    cursor: pointer;
    font-weight: bolder;
    border: none;
}
.refresh {
 
  border-radius: 12px;
  margin: 30px;
  background-color: #25316D;
  color: white;
  padding:5px 70px;
  cursor: pointer;
  font-weight: bolder;
  border: none;
}
.player {
    color: white;
    margin: 10px;
    font-weight: bolder;
    border: none;
}
.input {
    padding: 5px 0;
}
.game {
    align-items: center;
    width: 255px;
    text-align: center;
    color: rgb(83, 14, 27);
    margin: 20px auto;
    font-weight: bolder;
}
  .title {
    background-color: #DF7861;
    padding: 10px 30px;
    margin: 20px;
    font-weight: bolder;
    color: white;
  }
  .square {
    width: 80px;
    height: 80px;
    color:white;
    background-color:#94B49F;
    float: left;
    margin: 2px;
    font-size: 70px;
  }
  .square:hover {
    cursor: pointer;
    background-color: #DF7861 ;
  }
  /* .buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  } */
