body {
    background-image: url('https://media.istockphoto.com/vectors/tic-tac-toe-school-game-colorful-seamless-pattern-for-fabric-and-on-vector-id1292919739?k=20&m=1292919739&s=612x612&w=0&h=3tcAnbVokO9kdKAa3xVqanBdSaMIMGjOH-lLG17iGm4=');
    font-family:monospace;
}
.Score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 1rem;
}
form {
    background-color: #FFDE00;  
    margin: 0 auto;
    border-radius: 1rem;
    display: block;
    text-align: center;
    width: 21%;
    padding: 20px;
    height: 171px;
    
}
.submit {
  border-radius: 12px;
    margin: 30px;
    background-color: #25316D;
    color: white;
    padding:5px 70px;
    cursor: pointer;
    font-weight: bolder;
    border: none;
}
.refresh {
  border-radius: 12px;
  margin: 30px;
  background-color: #25316D;
  color: white;
  padding:5px 70px;
  cursor: pointer;
  font-weight: bolder;
  border: none;
}
.player {
    color: black;
    margin: 10px;
    font-weight: bolder;
    outline: none;
  }
.input {
    padding: 5px 0;
}
.game {
    align-items: center;
    width: 255px;
    text-align: center;
    color: rgb(83, 14, 27);
    margin: 20px auto;
    font-weight: bolder;
    display: none;
}
  .title {
    background-color: #FFDE00;
    padding: 10px 30px;
    margin: 20px;
    font-weight: bolder;
    color: black;
  }
  .square {
    width: 80px;
    height: 80px;
    color:white;
    background-color:#FFDE00;
    float: left;
    margin: 2px;
    font-size: 70px;
  }
  .square:hover {
    cursor: pointer;
    background-color: #DF7861 ;
  }
  